<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
		<section name="oracle.manageddataaccess.client" type="OracleInternal.Common.ODPMSectionHandler, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
	</configSections>
	<appSettings>
		<!--DB Connection -->
		<add key="MSSqlConnectString" value="Data Source=CRKRL-USERNAME\SQLEXPRESS; Initial Catalog=auto_demo; Integrated Security=SSPI; User ID=Domain\username; Password={DemoPass}" />
		<!--Core Automation -->
		<add key="MaxTimeToFindElement" value="120" />
		<add key="DefaultWaitForEachElement" value="1" />
		<add key="HeadlessExecution" value="false" />
		<add key="ExecutionBrowser" value="Android" />

		<!-- User Credentials -->
		<add key="DeviceName" value="SM G955F" />
		<add key="Platform" value="Android" />
		<add key="Version" value="9.0" />
		<add key="UDID" value="9889954753334a4e5a" />
		<add key="DeviceBrowser" value="Chrome" />
		<add key="AppPackage" value="" />
		<add key="AppActivity" value="" />

		<add key="Url" value="http://adactinhotelapp.com/" />
		<add key="LoginUser" value="AmirTester" />
		<add key="LoginPassword" value="AmirTester" />
		<!-- Database Configuration Oracle 11 -->
		<add key="ServiceName" value="ORCL" />
		<add key="DBUserName" value="db2358" />
		<add key="DBPassword" value="dbPass123" />
		<add key="DatabaseType" value="Oracle" />
		<add key="Host" value="10.14.1.54" />
		<add key="Port" value="1521" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
	</appSettings>
	<system.data>
		<DbProviderFactories>
			<remove invariant="Oracle.ManagedDataAccess.Client" />
			<add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.122.21.1, Culture=neutral, PublicKeyToken=89b483f429c47342" />
		</DbProviderFactories>
	</system.data>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Text.Json" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.0.0.2" newVersion="5.0.0.2" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Castle.Core" publicKeyToken="407dd0808d44fbdc" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
</configuration>